<html style="width:300px;height:400px;">
<head>
	<link rel="stylesheet" href="../css/popup.css"></style>
</head>
<body>
	<script src="../js/3rdparty/jquery-3.1.1.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="../css/materialize.min.css"> 
	<script src="../js/3rdparty/materialize.min.js"></script>
	<script src="../js/helpers.js"></script>
	<script src="../js/popup.js"></script>
	<div id="title">
		<center style="margin-top:5px">
			<h2 style="color:rgb(30, 136, 226)">PopClick</h2>
		</center>
	</div>
	<br>
	<form id="initialForm">
		<div id="preloadcursor" style="position: absolute; display: none;" class="spinner_loading preloader-wrapper big">
			<div class="spinner-layer spinner-blue">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
		<div id="middle">
			<div id="initial-1">		
				<b><h6>Before you get to enjoy the popclick experience we have to get you all set up.</h6></b>
				<div class="row">
					<center>
						<label>You won't be able to change this information later on.</label>
					</center>
					<div class="input-field offset-s1 col s4">
						<input placeholder="*Write here*" id="in_age" type="text" class="validate">
						<label style="color:rgb(30, 136, 226)" for="in_age">Age</label>
					</div>
					<div class="col s6">
						<p class="range-field">
							<input type="range" id="ran_age" min="4" max="100" />
						</p>
					</div>
				</div>
				<div class="row">
					<div class="input-field offset-s2 col s8">
						<select id="gender" name="gender">
							<option value="1">Female</option>
							<option value="2">Male</option>
							<option value="3">Other</option>
							<option value="4">Irrevelant</option>
						</select>
						<label style="color:rgb(30, 136, 226)">Gender</label>
					</div>
				</div>
			</div>
			<div id="interests" hidden>
				<div>
					<h6 style="display: inline;margin-left:20px;"class="left-align">Select <b id="number_of_select" style="color:rgb(30, 136, 226)">3</b> of your <u>interests:</u></h6>
					<img id="sparkles" style="width:14px;height:12px;" src="../images/sparkles.gif" alt=""/>
				</div>
				<div id="interests-block">
					<br>
					<div class="row">
						<div class=" offset-s1 col s10">
							<div class="chips chips-initial">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom">
			<div id="initial-2">
				<b><h6><i>You agree on the terms and conditions reflecting your use of this software as described in the following&nbsp;</i><a href="contract.com">contract</a> :</h6>
					<div class="row">
						<div class="col s3 offset-s4"> 
							<input class="" type="checkbox" name="yes" id="yes" /><label id="signing" value="0" for="yes">Yes</label>	
						</div>
					</div>
				</b>
			</div>
			<button id="submitInitial" type="submit" class="myButton">></button>
		</div>
	</form>
</body>
<style>
	body {
		position: relative;
		border:solid;
		border-length:6px;
		border-color:rgb(30, 136, 226);
	}
</style>
</html>