.awesomplete [hidden] {
    display: none !important;
}

.awesomplete .visually-hidden {
    position: absolute !important;
    clip: rect(0, 0, 0, 0) !important;
}

.awesomplete {
	margin-top:3px !important;
    display: inline-block !important;
    position: relative !important;
}

.awesomplete > input {
    display: block !important;
    width: 600px !important;
    height: 30px !important;
    padding: .3em .5em !important;
    border-radius: .3em !important;
    margin-left: 50px !important;
    border: 1px solid hsl(35, 80%, 60%) !important;
    box-shadow: .05em .1em .3em rgba(0,0,0,.3) inset !important;
    color: black !important;
    border-color: #01708F !important;
    margin-bottom: 1px !important;

}

.awesomplete > ul {
    position: absolute !important;
    left: 0 !important;
    z-index: 1 !important;
    min-width: 100% !important;
    box-sizing: border-box !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
    background: #fff !important;
}

.awesomplete > ul:empty {
    display: none !important;
}

.awesomplete > ul {
	border-radius: .3em !important;
	margin: .2em 0 0 !important;
	background: hsla(0,0%,100%,.9) !important;
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8)) !important;
	border: 1px solid rgba(0,0,0,.3) !important;
	box-shadow: .05em .2em .6em rgba(0,0,0,.2) !important;
	text-shadow: none !important;
}

@supports (transform: scale(0)) {
	.awesomplete > ul {
		transition: .3s cubic-bezier(.4,.2,.5,1.4) !important;
		transform-origin: 1.43em -.43em !important;
	}
	
	.awesomplete > ul[hidden],
	.awesomplete > ul:empty {
		opacity: 0 !important;
		transform: scale(0) !important;
		display: block !important;
		transition-timing-function: ease !important;
	}
}

	/* Pointer */
	.awesomplete > ul:before {
		content: "" !important;
		position: absolute !important;
		top: -.43em !important;
		left: 1em !important;
		width: 0 !important; height: 0 !important;
		padding: .4em !important;
		background: white !important;
		border: inherit !important;
		border-right: 0 !important;
		border-bottom: 0 !important;
		-webkit-transform: rotate(45deg) !important;
		transform: rotate(45deg) !important;
	}

	.awesomplete > ul > li {
		position: relative !important;
		padding: .2em .5em !important;
		cursor: pointer !important;
		color: rgba(0,0,0,.5) !important;
	}
	
	.awesomplete > ul > li:hover {
		background: hsl(200, 40%, 80%) !important;
		color: black !important;
	}
	
	.awesomplete > ul > li[aria-selected="true"] {
		background: hsl(205, 40%, 40%) !important;
		color: white !important;
	}
	
		.awesomplete mark {
			background: hsl(65, 100%, 50%) !important;
		}
		
		.awesomplete li:hover mark {
			background: hsl(68, 100%, 41%) !important;
		}
		
		.awesomplete li[aria-selected="true"] mark {
			background: hsl(86, 100%, 21%) !important;
			color: inherit !important;
		}